#background{
    background-image: url('http://5b0988e595225.cdn.sohucs.com/images/20171027/2486dd296d1d4f1baf6d9b2f272524e1.gif');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.div-background{
    margin-top: 100px;
    background-color: rgba(119, 126, 131, 0.47);
}